.grid{
    display: grid;
    height: 100%;
    width: 100%;
  }
  .grid-2col{
    grid-template-columns: 1fr 1fr;
  }
  .grid-3col{
    grid-template-columns: 1fr 1fr 1fr;
  }
  .grid-items{
    background: var(--hint);
    border: 2px solid var(--primary-color);
    height: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--bg-white);
  }