@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,600;0,700;1,300;1,500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
}
:root{
   
  --primary-color:#102B3F;
  --secondary-color: #4A8254;
  --hint: #CFFFE5;
  --smoke:whitesmoke;
  --star: rgb(255, 217, 0);
  --danger:rgb(221, 69, 69);
}
.body-wrapper{
  display: grid;
  width: 100%;
  height: calc(100vh-10rem);
  grid-gap: 1rem;
grid-template-columns: repeat(5, [col-start] 1fr);
}
/* .body-wrapper *{
  display: flex;
  /* justify-content: center;
  align-items: center;
  flex-direction: column; 
} */

a, a:hover, a:visited, a:active,.comp-link,.btn-link {
    color: inherit;
    text-decoration: none;
   }

   /* hero */

   .hero{
     text-align: center;
     min-width: 348px;
   }
   .hero-img{
     margin-top: 3rem;
    height: 25%;
    width: 25%;
   }
   .hero-text{
     font-size: 1.5rem;
     font-weight: 400;
     width: 50%;
     margin: 1rem auto;
     color: var(--primary-color);
     }
     .hero-btn{
       font-size: 1.2rem;
       padding: 1rem;
    margin: 0 1rem;
      
     }
     .btn-outline{
       color: var(--primary-color);
       border: 1px solid var(--primary-color);
     }
     .intro{
      width: 100%;
      padding-top: 1rem ;
      padding-bottom: 1rem;
      margin: 1rem auto;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;   
  }
  .intro-child{
     padding: 1rem;
      width: 80%;
      font-weight: 400;
      
  }
  .intro h1{
    padding: 1rem;
    width: 80%;
    font-weight: 400;
  }
  
     .code-parent{
       background-color: var(--primary-color);
       color: white;
       margin: 1rem auto;
       width: 95%;
       border-radius: 0.5rem;
        flex-wrap: wrap;
     }

   .code-text {
     display: flex;
     flex-wrap: wrap;
     width: 80%;
    margin: 1rem;
    padding: 0.5rem;
    
   }
   .separator {
    height: 0.0625rem;
    background-color: rgb(212, 212, 212);
    width: 90%;
    margin: 0 auto;
}
.author{
  font-weight: 600;
}