
<!-- Avatar -->
<!-- <h1>Avatar</h1>
<h2>Avatar Small</h2> -->
<figure class="avatar ">
  <img src="https://picsum.photos/800" alt="Avatar" class="avatar-img-sm" >
</figure>
<!-- <h2>Avatar Standard</h2> -->
<figure class="avatar ">
  <img src="https://picsum.photos/800" alt="Avatar" class="avatar-img-std" >
</figure>
<!-- <h2>Avatar Large</h2> -->
<figure class="avatar ">
  <img src="https://picsum.photos/800" alt="Avatar" class="avatar-img-lg" >
</figure>
<!-- <h2>Avatar X-large</h2> -->
<figure class="avatar ">
  <img src="https://picsum.photos/800" alt="Avatar" class="avatar-img-xl" >
</figure>
