 <!-- Badge -->
 <h1>Badge</h1>
 <h2> Text w/Badge</h2>
 <div class="badge-wrapper">
   <span class="badge-text">Hello World</span>
   <span class="badge-num badge-right">1</span>
 </div>
 <h2> Text w/Badge on left</h2>
 <div class="badge-wrapper">
   <span class="badge-num badge-left">1</span>
   <span class="badge-text">Hello World</span>
  
 </div>
 <h2>icon w/ badge</h2>
 <div class="badge-wrapper">
   <span class=" material-icons badge-icon">home</span>
   <span class="badge-num badge-right">1</span>
 </div>
 <div class="badge-wrapper">
   <span class=" material-icons badge-icon">call</span>
   <span class="badge-num badge-right">9+</span>
 </div>
 <h2>Badge on Avatar</h2>
 <div class="badge-wrapper">
   <figure class="avatar ">
     <img src="https://picsum.photos/800" alt="Avatar" class="avatar-img-std" >
   </figure>
   <span class="badge-avatar badge-online"></span>
 </div>
 <div class="badge-wrapper">
   <figure class="avatar ">
     <img src="https://picsum.photos/800" alt="Avatar" class="avatar-img-std" >
   </figure>
   <span class="badge-avatar badge-away"></span>
 </div>
 <div class="badge-wrapper">
   <figure class="avatar ">
     <img src="https://picsum.photos/800" alt="Avatar" class="avatar-img-std" >
   </figure>
   <span class="badge-avatar badge-busy"></span>
 </div>
 <div class="badge-wrapper">
   <figure class="avatar ">
     <img src="https://picsum.photos/800" alt="Avatar" class="avatar-img-std" >
   </figure>
   <span class="badge-avatar badge-offline"></span>
 </div>
 