<!-- buttons -->
<h1>Buttons</h1>
<h2>Text Buttons</h2>
<button class="btn btn-primary btn-solid">Primary Solid</button>
<button class="btn btn-outline">Primary Outline</button>
<button class="btn btn-disabled" disabled>DISABLED</button>

<h2>Icon Buttons</h2>
<button class="btn btn-icon">
  <span class="material-icons">
  favorite
  </span></button>
  <button class="btn btn-icon">
    <span class="material-icons">
    call
    </span></button>
<h2>Floating Action Button</h2>
<button class="btn btn-float">
  <span class="material-icons">
  add
  </span></button>
