<!-- Cards -->

<h1>Cards</h1>
<h2>Standard</h2>
<div class="card">
  <img class="card-img" src="https://picsum.photos/800" alt="" />
  <div class="card-title">
    <h2 class="card-header">Our Changing world</h2>
    <span class="card-subtitle">by Lorem Ipsum</span>
  </div>
  <p class="card-text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
    tincidunt enim cursus, ornare dolor dignissim, eleifend mi. Quisque id
    urna varius sapien placerat mattis.
  </p>
  <div class="hor-flex">
    <div class="card-btn">
      <button>READ</button>
      <button>BOOKMARK</button>
    </div>

    <div class="card-icons">
        <span class="material-icons">
            favorite
            </span>
            <span class="material-icons">
                share
                </span>
                <span class="material-icons">
                    more_vert
                    </span>
    </div>
  </div>
</div>
<h2>Card w/Header</h2>
<div class="card">
  <div class="card-title">
  <h2 class="card-header">Our Changing world</h2>
  <span class="card-subtitle">by Lorem Ipsum</span>
</div>
  <img class="card-img" src="https://picsum.photos/800" alt="" />

  <p class="card-text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
    tincidunt enim cursus, ornare dolor dignissim, eleifend mi. Quisque id
    urna varius sapien placerat mattis.
  </p>
  <div class="hor-flex">
    <div class="card-btn">
      <button>READ</button>
      <button>BOOKMARK</button>
    </div>

    <div class="card-icons">
        <span class="material-icons">
            favorite
            </span>
            <span class="material-icons">
                share
                </span>
                <span class="material-icons">
                    more_vert
                    </span>
    </div>
  </div>
</div>
<h2>Card w/only buttons</h2>
<div class="card">
  <div class="card-title">
  <h2 class="card-header">Our Changing world</h2>
  <span class="card-subtitle">by Lorem Ipsum</span>
</div>
  <img class="card-img" src="https://picsum.photos/800" alt="" />

  <p class="card-text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
    tincidunt enim cursus, ornare dolor dignissim, eleifend mi. Quisque id
    urna varius sapien placerat mattis.
  </p>
  <div class="hor-flex">
    <div class="card-btn">
      <button>READ</button>
      <button>BOOKMARK</button>
    </div>

  </div>
</div>
<h2>Card w/only Icons</h2>
<div class="card">
  <div class="card-title">
  <h2 class="card-header">Our Changing world</h2>
  <span class="card-subtitle">by Lorem Ipsum</span>
</div>
  <img class="card-img" src="https://picsum.photos/800" alt="" />

  <p class="card-text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
    tincidunt enim cursus, ornare dolor dignissim, eleifend mi. Quisque id
    urna varius sapien placerat mattis.
  </p>
  <div class="hor-flex">
    <div class="card-btn">
     
    </div>

    <div class="card-icons">
      <span class="material-icons">
          favorite
          </span>
          <span class="material-icons">
              share
              </span>
              <span class="material-icons">
                  more_vert
                  </span>
  </div>
  </div>
</div>
<h2>Horizontal image & text</h2>
<div class="card">
  <div class="card-hor">
  <img class="card-img" src="https://picsum.photos/800" alt="" />
  <div class="card-title">
    <h2 class="card-header">Our Changing world</h2>
    <span class="card-subtitle">by Lorem Ipsum</span>
  </div>
</div>
  <div class="hor-flex">
    <div class="card-btn">
      <button>READ</button>
      <button>BOOKMARK</button>
    </div>

    <div class="card-icons">
        <span class="material-icons">
            favorite
            </span>
            <span class="material-icons">
                share
                </span>
                <span class="material-icons">
                    more_vert
                    </span>
    </div>
  </div>
</div>
<h2>Card w/text over media</h2>
<div class="card">
<div class="card-overlay">
<img class="card-img" src="https://picsum.photos/800" alt="" />
<div class="card-title ">
<h2 class="card-header">Our Changing world</h2>
<span class="card-subtitle">by Lorem Ipsum</span>
</div>
</div>
<p class="card-text">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
tincidunt enim cursus, ornare dolor dignissim, eleifend mi. Quisque id
urna varius sapien placerat mattis.
</p>
<div class="hor-flex">
<div class="card-btn">
  <button>READ</button>
  <button>BOOKMARK</button>
</div>

<div class="card-icons">
    <span class="material-icons">
        favorite
        </span>
        <span class="material-icons">
            share
            </span>
            <span class="material-icons">
                more_vert
                </span>
</div>
</div>
</div>
