<h1>Input</h1>
<h2>Text Area</h2>
<div class="input">
  <label >Label</label>
  <textarea cols="30" rows="5" class="inp-text" placeholder="Message.."></textarea>
</div>

<h2>Text Box</h2>
<div class="input">
  <label >Label</label>
  <input type="text" class="inp-text"/>
</div>
<div class="input">
  <label >Label</label>
  <input type="text" placeholder="John Doe" class="inp-text"/>
</div>
<div class="input">
  <label >Label</label>
  <input type="text" placeholder="anyone@example.com" class="inp-text"/>
  <span class="inp-valid">Incorrect Email Address!!</span>
</div>
<h2>Checkbox</h2>
<div class="input">
<label htmlFor="input-id-check" class="input-check-label">
<input type="checkbox"  id="input-id-check" class="inp-check">
Agree to Terms & Conditions
</label>
</div>
<h2>Slider</h2>
<div class="input">
  <input type="range" id="inp-id-slider" min="0" max="100" defaultValue="70" class="inp-slider">
</div>
