/* Nav */

.nav{
    background-color: var(--primary-color);
  color: white;
  display: flex;
  flex-direction: row;
 min-width: 348px;
  flex-wrap: wrap;
  height: 5rem;

  }
  .nav-logo{
    display: flex;
    width: 20rem;   
  }
  .nav-logo:hover{
      cursor: pointer;
  }
  .nav-logo img{
    height: 65%;
    width: 30%;
    display: inline-block;
    font-weight: 500;
    font-size: 1.8rem;
    display: inline;
    justify-content: space-between;
    align-self: center;
    /* margin: 0 1rem; */
  }
  .nav-h1{
    color: white;
    font-weight: 500;
    font-size: 1.8rem;
    display: inline;
    align-self: center;
    width: 70%;
  }
  .nav-menu{
   margin-left: auto;
   display: flex;
   align-items: center;
  }
  .nav-options{
    list-style: none;
    padding: 1rem; 
  
  }
  .nav-item{
    display: inline;
    justify-content: space-between;
    font-size: 1.2rem;
    margin: 0 1rem;
  }
  .social-icon{
    fill: white;
    height: 7%;
    width: 7%;
  }
  .nav-item:hover{
    cursor: pointer;
    text-decoration: underline;
  }
  @media  screen and (max-width:460px) {
    .nav-menu{
      display: none;
    }
   
    .nav{
   align-content: center;
   justify-content: center; 
   text-align: center;
    }
    .nav-logo img{
      height: 95%;
      width: 30%;
      margin-left: auto;
    }
    .nav-h1{
      font-size: 2rem;
    }
    
  }